.mainpage{
    width: 100vw;
    height: 100vh;
    background: url('../../assets/images/connect.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 35%;
    height: 80%;
    background-color: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 3rem;
}
.wrapper h1{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
.wrapper .input-box-im{
    position: relative;
    width: 100%;
    height: 70px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}
.wrapper .remeber-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remeber-forget label input{
    accent-color: #ffff;
    margin-right: 4px;
}

.remeber-forget a{
    color: #ffff;
    text-decoration: none;
}
.remeber-forget a:hover{
    text-decoration: underline;
}
.wrapper button{
    width: 100%;
    height: 45px;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.register-link p a{
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

#RequestForUserButton {
    background-color: rgb(21, 210, 231); /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the element to line up properly */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    transition-duration: 0.4s; /* Make the changes take place gradually */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

#RequestForUserButton:hover {
    background-color: #4CAF50; /* White background */
    color: black; /* Black text */
    border: 2px solid #ffffff; /* Green border */
}